canvas{
	    -webkit-animation-duration: 4s;
    -webkit-animation-name: moveBackground;
    -webkit-animation-iteration-count: infinite;
  background: url(./space.jpg); 
}
  
 @-webkit-keyframes moveBackground {
    0% {
      background-position-y:  0px;
    }
    100% {
      background-position-y:  852px;
    }